<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Fun Marathon</title>
	</head>

	<body>
		<center>
			<h1><font face="Courier New" size="20">{{ game }}</font></h1>

			<br>

			<!-- No Internet -->
			<!-- <script src="../jquery.min.js">
			</script> -->

			<!-- Memory Caching -->
			<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js">
			</script>

			<script>
				function getCookie(cname) {
					var name = cname + "=";
					var ca = document.cookie.split(';');
					for(var i = 0; i < ca.length; i++) {
						var c = ca[i];
						while (c.charAt(0)==' ') {
							c = c.substring(1);
						}
						if (c.indexOf(name) == 0) {
							return c.substring(name.length,c.length);
						}
					}
					return "";
				}

				function validateForm() {
					var id = parseInt(document.forms["score-form"]["id"].value, 10);
					var score = parseFloat(document.forms["score-form"]["score"].value, 10);

					if ((id < 1) || (id > 300) || isNaN(id)) {
						alert("The ID is incorrect.\nOnly ID's between 1 and 300 are allowed.");
						return false;
					}

					if (score < 0 || score > 10 || isNaN(score)) {
						alert("The score is incorrect.\nOnly scores between 0 to 10 are allowed.\nYou entered " + score + ".");
						return false;
					}

					$.ajax({
						url: "../player_data/",
						type: "POST",
						data: {
							csrfmiddlewaretoken: getCookie("csrftoken"),
							id: id,
							game: "{{ games_list.0 }}"
						},
						success: function(json) {
							var success = true;
							success &= confirm("You entered the following data." + "\n" +
								"ID: " + json["id"] + "\n" +
								"Name: " + json["name"] + "\n" +
								"Score: " + score + "\n" +
								"Game: " + "{{game}}"
							);

							if ((!!json["prev_score"]) && success) {
								success &= confirm("A score for the following player has already been entered. Do you want to update the previous score?" + "\n" +
									"ID: " + json["id"] + "\n" +
									"Name: " + json["name"] + "\n" +
									"Score: " + score + "\n" +
									"Prev Score: " + json["prev_score"] + "\n" + 
									"Game: " + "{{game}}"
								);
							}

							if (success) $("#score-form").submit();

						},
						error: function(jqXHR, textStatus, errorThrown){
							alert("An error occurred. Please try again.");
						}
					});
				}

				$(document).ready(
					function() {
						$("#button").click(function() {
							validateForm();
						});
					}
				);
			</script>

			<form id="score-form" name="score-form" action="../update/" method="post">
				{% csrf_token %}
				<table cellpadding="4">
					<tr>
						<td style="font-size:18px;">Select Game:</td>
						<td>
							<select name="game" style="font-size:18px;">

								{% for game in games_list %}
									<option value="{{game}}">{{ game }}</option>
								{% endfor %}

							</select>
						</td>
					</tr>

					<tr>
						<td><label for="id" style="font-size:18px;">Enter ID:</label></td>
						<td><input type="number" id="id" name="id" autocomplete="off"  style="font-size:18px;"></td>
					</tr>

					<tr>
						<td><label for="score" style="font-size:18px;">Enter Score:</label></td>
						<td><input type="number" step="1" id="score" name="score" autocomplete="off" style="font-size:18px;"></td>
					</tr>

					<tr>
						<td colspan="2" align="center"><input type="button" id="button" value="Submit" style="font-size:18px;"></td>
					</tr>
				</table>
			</form>

			<br><br><br>

			Remember to select the new game when changing tables.

			<br><br>

			<a href="../../">Go Back</a>

			<script>
				document.getElementById("id").focus();
			</script>

		</center>
	</body>
</html>